@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  
  :root {
    --background: 45.0000 49.0566% 79.2157%;
    --foreground: 26.0000 19.4805% 30.1961%;
    --card: 42.0000 45.4545% 82.7451%;
    --card-foreground: 26.0000 19.4805% 30.1961%;
    --popover: 43.6364 57.8947% 88.8235%;
    --popover-foreground: 26.0000 19.4805% 30.1961%;
    --primary: 72.3077 33.0508% 46.2745%;
    --primary-foreground: 42.8571 63.6364% 97.8431%;
    --secondary: 44.5161 48.4375% 74.9020%;
    --secondary-foreground: 26.0000 19.4805% 30.1961%;
    --muted: 44.5161 48.4375% 74.9020%;
    --muted-foreground: 26.6667 11.2971% 46.8627%;
    --accent: 43.9437 49.6503% 71.9608%;
    --accent-foreground: 26.0000 19.4805% 30.1961%;
    --destructive: 8.5714 54.4910% 67.2549%;
    --destructive-foreground: 45.0000 44.4444% 96.4706%;
    --border: 26.2500 23.5294% 60%;
    --input: 43.9437 49.6503% 71.9608%;
    --ring: 92.4324 19.1710% 62.1569%;
    --chart-1: 92.4324 19.1710% 62.1569%;
    --chart-2: 95.0000 15.7895% 55.2941%;
    --chart-3: 102.8571 16.2791% 74.7059%;
    --chart-4: 104.4444 11.2971% 46.8627%;
    --chart-5: 103.6364 11.1111% 38.8235%;
    --sidebar: 44.0625 52.4590% 76.0784%;
    --sidebar-foreground: 26.0000 19.4805% 30.1961%;
    --sidebar-primary: 92.4324 19.1710% 62.1569%;
    --sidebar-primary-foreground: 42.8571 63.6364% 97.8431%;
    --sidebar-accent: 42.3529 28.8136% 88.4314%;
    --sidebar-accent-foreground: 26.0000 19.4805% 30.1961%;
    --sidebar-border: 42.3529 24.6377% 86.4706%;
    --sidebar-ring: 92.4324 19.1710% 62.1569%;
    --font-sans: Merriweather, serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.425rem;
    --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
    --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
    --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
    --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: 42.3529 17.1717% 19.4118%;
    --foreground: 38.4000 40.9836% 88.0392%;
    --card: 38.5714 12.0690% 22.7451%;
    --card-foreground: 38.4000 40.9836% 88.0392%;
    --popover: 38.5714 12.0690% 22.7451%;
    --popover-foreground: 38.4000 40.9836% 88.0392%;
    --primary: 95.0000 15.7895% 55.2941%;
    --primary-foreground: 26.6667 12.0000% 14.7059%;
    --secondary: 40 13.2075% 31.1765%;
    --secondary-foreground: 38.4000 40.9836% 88.0392%;
    --muted: 38.8235 12.9771% 25.6863%;
    --muted-foreground: 33.3333 9.3750% 62.3529%;
    --accent: 44.3478 27.2727% 49.6078%;
    --accent-foreground: 26.6667 12.0000% 14.7059%;
    --destructive: 9.6000 33.6323% 56.2745%;
    --destructive-foreground: 40 41.1765% 90.0000%;
    --border: 40 13.2075% 31.1765%;
    --input: 40 13.2075% 31.1765%;
    --ring: 95.0000 15.7895% 55.2941%;
    --chart-1: 95.0000 15.7895% 55.2941%;
    --chart-2: 92.4324 19.1710% 62.1569%;
    --chart-3: 104.4444 11.2971% 46.8627%;
    --chart-4: 44.3478 27.2727% 49.6078%;
    --chart-5: 103.6364 11.1111% 38.8235%;
    --sidebar: 42.3529 17.1717% 19.4118%;
    --sidebar-foreground: 38.4000 40.9836% 88.0392%;
    --sidebar-primary: 95.0000 15.7895% 55.2941%;
    --sidebar-primary-foreground: 26.6667 12.0000% 14.7059%;
    --sidebar-accent: 44.3478 27.2727% 49.6078%;
    --sidebar-accent-foreground: 26.6667 12.0000% 14.7059%;
    --sidebar-border: 40 13.2075% 31.1765%;
    --sidebar-ring: 95.0000 15.7895% 55.2941%;
    --font-sans: Merriweather, serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.425rem;
    --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
    --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
    --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
    --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
